/* Written by Nater0214 */

#splashTextGroup {
    margin: auto;
    margin-top: 5%;
    width: 90%;
}

#explainTextGroup {
    margin: auto;
    margin-top: 5%;
    width: 90%;

    font-size: 24px;
}