{% load my_static %}
<!-- Written by Nater0214 -->

<html>
    <head>
        {% include "head.html" with no_sidebar=1 %}
        <link rel="stylesheet" href="{% static "root/computing-innovation/style.css" %}">
    </head>
    <body>
        {% include "bars.html" with no_sidebar=1 %}
        <div id="content">
            <h1 class="centerText">The TrackPoint</h1>
            <hr>
            <div id="descriptionDiv" class="alignedLeft" style="display: flex; flex-direction: row; justify-content: space-between;">
                <div>
                    <h2>Description</h2>
                    <p>The Trackpoint, also referred to as the 'nub' or 'nipple' is a small 'nub' usually sat between the 'g' 'h' and 'b' keys on a laptop's keyboard, if equipped. It moves the cursor around the screen.</p>
                </div>
                <img id="myTrackpointImage" src="{% static "root/computing-innovation/myTrackpoint.jpg" %}" style="max-height: 0px">
            </div>
            <div class="alignedRight">
                <h2>Purpose</h2>
                <p>The purpose of the Trackpoint is to move the cursor around the screen, requiring less finger movement from the keyboard.</p>
            </div>
            <div class="alignedLeft">
                <h2>Beneficial Effects</h2>
                <p>The Trackpoint allows for more productivity by reducing the amount of time required to switch to moving the cursor after typing.</p>
                <p>The Trackpoint removes the problem of wrists messing with the trackpad, if used exclusively.</p>
            </div>
            <div class="alignedRight">
                <h2>Harmful Effect</h2>
                <p>A user of the trackpoint may become acquainted to their settings on their own computer, making it harder to switch to a trackpoint on a different computer.</p>
                <p>A user who is unable to perform precise finger movements would be unable to use this device.</p>
            </div>
            <div class="alignedLeft">
                <h2>Impact</h2>
                <p>The Trackpoint has made an impact on computer users by increasing productivity in situations that require swtiching from typing to moving the mouse cursor. This increased productivity makes a mark on the economy, even though it may be small.</p>
            </div>
            <div class="alignedRight">
                <h2>Data Collection</h2>
                <p>Because of te nature of any pointing device, it needs to collect the movement data in order to move the cursor around the screen. One concerns is that of keyloggers. A keylogger can log mouse movements on a macine, possibly exposing sensitive information.</p>
            </div>
            <div class="alignedLeft">
                <h2>Personally Identifiable Information</h2>
            </div>
            <div>
                <h2>Citations</h2>
                <p>Gartenberg, C. (2020, June 30). The ThinkPad TrackPoint tried to build a better mouse. The Verge. https://www.theverge.com/circuitbreaker/2020/6/30/21292182/thinkpad-trackpoint-mouse-nub-button-trackpad-challenges-design-user-input</p>
            </div>
        </div>
    </body>
</html>