{% load my_static %}
<!-- Written by Nater0214 -->
<!DOCTYPE html>

<html>
    <head>
        {% include "head.html" %}
    </head>
    <body>
        {% include "bars.html" %}
        <div id="content">
            <h1 class="centerText" style="font-size:36pt">Act Now!</h1>
            <h2 class="centerText" style="font-size:24pt">The Democratic Republic of the Congo needs you!</h2>
            <hr>
            <figure class="centerText">
                <img src="{% static "root/congo-act-now/congo-people.jpg" %}">
                <figcaption>International Committee of the Red Cross</figcaption>
            </figure>
            <p style="max-width:800px">
                The people of the Democratic Republic of the Congo have a large problem with their water. Mining runoff contaminates their water with harmful chemicals, making it unable to drink.
            </p>
            <br>
            <p style="max-width:800px">
                As humans it is our responsibility to ensure that every human around the world has access to clean water. Wouldn't you want people to care about your water if it was contaminated? Join one of the many humanitarian organizations that helps the people of the Democratic Republic of the Congo.
            </p>
            <br>
            <p>You can help at these websites:</p>
            <ul>
                <li><a href="https://www.unicef.org/drcongo/en/what-we-do/water-sanitation-and-hygiene">Unicef</a></li>
                <li><a href="https://thewaterproject.org/water-crisis/water-in-crisis-congo">The Water Project</a></li>
                <li><a href="https://www.icrc.org/en/document/partnerships-financing-solutions-boost-water-access-dr-congo">International Committee of the Red Cross</a></li>
            </ul>
            <br>
        </div>
    </body>
</html>