{% load my_static %}
<title>Nater0214's Website - {{ name }}</title>

<meta name="viewport" content="width=device-width">
<meta http-equiv="cache-control" content="no-cache">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Comfortaa">
<link rel="stylesheet" href="{% static "css/global.css" %}">
<link rel="stylesheet" href="{% static "root/css/style.css" %}">
<link rel="icon" href="{% static "image/icon.png" %}">
{% if no_sidebar %}{% else %}
<script type="module">
    import * as SidebarResize from '{% static "js/sidebarResize.js" %}';
    
    window.onload = () => {
        SidebarResize.resizeSidebar();
    }
    window.onresize = () => {
        SidebarResize.resizeSidebar();
    }
</script>
{% endif %}