{% load static %}
<title>Nater0214's Website - {{ name }}</title>

<meta name="viewport" content="width=device-width">
<meta http-equiv="cache-control" content="no-cache">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Comfortaa">
<link rel="stylesheet" href="{% static "root/global.css" %}">
<link rel="icon" href="{% static "root/icon.png" %}">
<script type="module">
    {% autoescape off %}
    {% if imports %}
    {% for module in imports %}
    import * as {{ module.as }} from '{% static module.from %}';
    {% endfor %}
    {% endif %}
    
    window.onload = () => {
        {% if onloads %}
        {% for function in onloads %}
        {{ function }}();
        {% endfor %}
        {% endif %}
        
    };
    window.onresize = () => {
        {% if onresizes %}
        {% for function in onresizes %}
        {{ function }}();
        {% endfor %}
        {% endif %}
    };
    {% endautoescape %}
</script>