{% load my_static %}
<!-- Written by Nater0214 -->

<html>
    <head>
        {% include "head.html" with name=name %}
        <link rel="stylesheet" href="{% static "root/css/style.css" %}">
    </head>
    <body>
        {% include "topbar.html" with name=name %}
        {% include "sidebar.html" with name=name pages=pages %}
        <div id="content" class="centerText">
            <div id="splashTextGroup">
                <h1 style="font-size:48px">Yes, you are in the right place</p>
                <h2 style="font-size:36px">I actually got a website</p>
                <p style="font-size:12px">I don't know why I did this but I did.</p>
            </div>
            <div id="explainTextGroup" class="centerText">
                <p>I will be updating this with random stuff don't worry.</p>
                <p>Newest thingies:</p>
                <div id="thingiesList" style="font-size: 16px">
                    {% for thingy in newest_thingies %}
                    <p>{{ thingy.content }} [{{ thingy.date }}]</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>